name: Publish aqua

on:
  pull_request:
    types: [ closed ]
    branches:
      - aqua

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: oven-sh/setup-bun@v2
      - run: npm install -g npm@latest
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: npm version patch
      - run: npm ci
      - run: npm publish --tag aqua
      - run: git commit -am "Commit artifacts" || true
      - run: git push --follow-tags
